@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');
.default_dark {
    /*base colors*/
    --bg1: #252525;
    --bg2: #202020;
    --bg3: #171717;
    --bg4: #101010;
    --bg5: #131313;
    --ui1: #303030;
    --ui2: #2b2b2b;
    --ui3: #252525;
    --ui4: #404040;
    --ui5: #606060;
    --h1: #f5f5f5;
    --h2: #f0f0f0;
    --p1: #e0e0e0;
    --p2: #d5d5d5;
    --p3: #cacaca;
    /*others*/
    --disabled: #b5b5b5;
    --navbar: var(--bg4);
    --active: #8745f1;
    --transition-time: .35s;
    // @media (orientation: landscape) {
    --border-rad: 10px;
    // }
    // @media (orientation: portrait) {
        // --border-rad: 2vmin;
    // }
    --font: 'Poppins', sans-serif;
    --font-monospace: 'JetBrains Mono', sans-serif;
    --outline: #45454595;
    --outline-active: #6f27e4;
    --sbicons: #95959595;
    --color-scheme: dark;
    /*clrs*/
    --clr0: #ffffff;
    --clr1: #dc3939;
    --clr2: #dc7239;
    --clr3: #ebca13;
    --clr4: #39ba28;
    --clr5: #2789ec;
    --clr6: #8745f1;
    --clr7: #dd32e6;
    /*context menu vars*/
    --contexify-menu-bgColor: var(--ui1);
    --contexify-separator-color: var(--outline);
    --contexify-item-color: var(--p1);
    --contexify-activeItem-color: var(--h1);
    --contexify-activeItem-bgColor: var(--active);
    --contexify-rightSlot-color: #aaaaaa;
    --contexify-activeRightSlot-color: #fff;
    --contexify-arrow-color: var(--p3);
    --contexify-activeArrow-color: var(--h1);
    --contexify-zIndex: 666;
    --contexify-menu-padding: .5rem;
    --contexify-itemContent-padding: .5rem;
    --contexify-menu-radius: var(--border-rad);
    --contexify-activeItem-radius: calc((var(--border-rad) / 4) * 3);
    --contexify-menu-minWidth: 8rem;
    --contexify-menu-shadow: 0 0 1rem var(--bg1), 0 0 .5rem var(--bg1);
    .contexify{border: 1px solid var(--outline);}
    /*toastify*/
    --toastify-color-dark: var(--ui1);
    --toastify-color-info: var(--clr5);
    --toastify-color-success: var(--clr4);
    --toastify-color-warning: var(--clr3);
    --toastify-color-error: var(--clr1);
    --toastify-text-color-dark: var(--h1);
    --toastify-toast-width: 18rem;
    --toastify-toast-min-height: 4rem;
    --toastify-toast-max-height: 15rem;
    --toastify-font-family: var(--font);
    --toastify-z-index: 8940;
    .Toastify__toast{border: 1px var(--outline) solid;}
}
