$bg1: var(--bg1);
$bg2: var(--bg2);
$bg3: var(--bg3);
$bg4: var(--bg4);
$bg5: var(--bg5);
$ui1: var(--ui1);
$ui2: var(--ui2);
$ui3: var(--ui3);
$ui4: var(--ui4);
$ui5: var(--ui5);
$h1: var(--h1);
$h2: var(--h2);
$p1: var(--p1);
$p2: var(--p2);
$p3: var(--p3);
$sbicons: var(--sbicons);
$disabled: var(--disabled);
$navbar: var(--navbar);
$active: var(--active);
$transition-time: var(--transition-time);
$border-rad: var(--border-rad);
$font: var(--font);
$font-monospace: var(--font-monospace);
$outline: var(--outline) solid 1px;
$outline-clr: var(--outline);
$outline-active: var(--outline-active) solid 1px;
$outline-active-clr: var(--outline-active);
$clr0: var(--clr0);
$clr1: var(--clr1);
$clr2: var(--clr2);
$clr3: var(--clr3);
$clr4: var(--clr4);
$clr5: var(--clr5);
$clr6: var(--clr6);
$clr7: var(--clr7);
$color-scheme: var(--color-scheme);
$bg-img: var(--bg-img);
