@use "./theme.scss";
//-----------------
#CreateNewTaskButton {
  position: fixed;
  height: 3.5rem;
  border-radius: theme.$border-rad;
  background: theme.$ui1;
  border: theme.$outline;
  font-size: 1.5rem;
  color: theme.$p3;
  aspect-ratio: 1 / 1;
  bottom: .875rem;
  right: .875rem;
  box-shadow: 
    0 0 2rem theme.$bg1,
    0 0 1rem theme.$bg1;
  transition: .25s;
  z-index: 99;
  cursor: pointer;
  &:hover {
    background: theme.$active;
    border: theme.$outline-active;
    color: theme.$h1;
  }
}
.TaskCreatePopover {
  box-sizing: border-box;
  padding: .5rem;
  transform-origin: var(--transform-origin);
  border-radius: theme.$border-rad;
  background: theme.$ui1;
  color: theme.$p4;
  border: theme.$outline;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .25rem;
  transition:
    transform 150ms,
    opacity 150ms;
  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
  button {
    width: 10rem;
    height: max-content;
    position: relative;
    padding: .5rem;
    font-size: .875rem;
    background: theme.$ui4;
    border: theme.$outline;
    color: theme.$p4;
    border-radius: calc((theme.$border-rad * 5) / 8);
    cursor: pointer;
    transition: background .25s, border .25s, color .25s;
    text-align: left;
    &:hover {
      background: theme.$active;
      border: theme.$outline-active;
      color: theme.$h1;
    }
    .Icon {
      /* position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: .5rem; */
    }
  }
}
.DiagBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(#151515,.5);
  transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);
  backdrop-filter: blur(2px);
  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}
.DiagPopup {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  max-width: calc(100vw - 3rem);
  gap: .35rem;
  // display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -2rem;
  padding: 1.5rem;
  border-radius: theme.$border-rad;
  border: theme.$outline;
  background: theme.$ui1;
  transition: all 150ms;
  box-shadow: 0 0 1rem theme.$bg5;
  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  &[data-open]{
    display: flex;
  }
  .SelectWrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    font-family: theme.$font;
    width: 100%;
    .Select {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;
      height: 2.5rem;
      padding-left: 0.875rem;
      padding-right: 0.75rem;
      width: 100%;
      margin: 0;
      outline: 0;
      border: theme.$outline;
      border-radius: theme.$border-rad;
      font-family: inherit;
      font-size: 1rem;
      line-height: 1.5rem;
      color: theme.$p3;
      cursor: default;
      user-select: none;
      .SelectIcon {
        display: flex;
      }      
    }
  }
  #TaskCreateButton {
    height: 2.5rem;
    width: 100%;
    background: theme.$ui4;
    border-radius: theme.$border-rad;
    border: theme.$outline;
    cursor: pointer;
    font-size: .875rem;
    color: theme.$p3;
    transition: background .25s;
    &:hover {
      background: theme.$active;
    }
  }
  .TaskCreateFS {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    .FSHeader {
      color: theme.$p1;
      font-family: theme.$font;
      font-size: 1.875rem;
      font-weight: 500;
      margin: 0;
      padding-bottom: .5rem;
      border-bottom: theme.$outline;
    }
  }
  .FSSeparator {
    height: 1px;
    width: 100%;
    background: #505050;
    /* margin: 1rem 0;
    margin-top: .25rem; */
  }
  .Label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: theme.$p5;
    font-family: theme.$font;
  }
  .FieldError {
    font-size: .875rem;
    line-height: .875rem;
    color: theme.$clr1;
  }
  .TaskCreateField {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    font-family: theme.$font;
    .Input {
      box-sizing: border-box;
      padding: 0.875rem;
      margin: 0;
      border: theme.$outline;
      width: 100%;
      height: 2.5rem;
      border-radius: calc((theme.$border-rad * 3) / 4);
      font-family: inherit;
      font-size: 1rem;
      padding-bottom: calc(.875rem + .05rem);
      background-color: transparent;
      outline: none;
      &::placeholder {
        color: theme.$sbicons;
      }
      &:focus,& {
        color: theme.$p3;
      }
    }  
  }
}
.SelectPopup {
  box-sizing: border-box;
  padding-block: 0.25rem;
  border-radius: 0.375rem;
  background-color: theme.$ui4;
  color: theme.$p3;
  font-family: theme.$font;
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;
  overflow-y: auto;
  max-height: var(--available-height);
  box-shadow: 0 5px 1rem theme.$bg1, 0 0 .5rem theme.$bg1;
  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
  &[data-side='none'] {
    transition: none;
    transform: none;
    opacity: 1;
  }
  .Item {
    box-sizing: border-box;
    outline: 0;
    line-height: 1rem;
    // padding-block: 0.5rem;
    // padding-left: 0.625rem;
    // padding-right: 1rem;
    // min-width: var(--anchor-width);
    padding: .5rem;
    min-width: calc(var(--anchor-width) + 1rem);
    display: grid;
    gap: 0.5rem;
    align-items: center;
    grid-template-columns: 0.75rem 1fr;
    cursor: default;
    user-select: none;
    scroll-margin-block: 1rem;
    font-size: .875rem;
    /* [data-side='none'] & {
      font-size: 1rem;
      padding-right: 1rem;
      min-width: calc(var(--anchor-width) + 1rem);
    } */
    &[data-highlighted] {
      z-index: 0;
      position: relative;
      color: theme.$p1;
    }
    &[data-highlighted]::before {
      content: '';
      z-index: -1;
      position: absolute;
      inset-block: 0;
      inset-inline: 0.25rem;
      border-radius: 0.25rem;
      background-color: theme.$active;
    }
  }
  .ItemIndicator {
    grid-column-start: 1;
  }
  .ItemIndicatorIcon {
    display: block;
    width: 0.875rem;
    height: 0.875rem;
  }
  .ItemText {
    grid-column-start: 2;
  }
}
#HomePageFlexboxWrapper {
  height: calc(100dvh - 42px);
  width: calc(100dvw - 6.5rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  #TaskEditWrapper {
    height: calc(100dvh - 3rem - 42px);
    // flex-grow: 1;
    flex: 0 1 auto;
    min-width: 200px;
    transition: .35s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    pointer-events: all;
    user-select: auto;
    &.closed {
      opacity: 0 !important;
      min-width: 0 !important;
      flex: 0 1 0 !important;
      pointer-events: none !important;
      user-select: none !important;
      // flex-grow: 0 !important;
    }
    #TaskEditClose {
      position: absolute;
      top: .5rem;
      right: .5rem;
      font-size: 1.25rem;
      color: theme.$disabled;
      height: 1.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: calc((theme.$border-rad * 5) / 8);
      aspect-ratio: 1 / 1;
      background: theme.$ui6;
      cursor: pointer;
      transition: .35s;
      &:hover {
        background: theme.$ui4;
      }
    }
    .ContentWrapper {
      box-sizing: border-box;
      border: theme.$outline;
      background-color: theme.$ui1;
      height: 100%;
      width: calc(100% - 1rem);
      border-radius: theme.$border-rad;
      position: relative;
      .ResizeBar {
        height: 100%;
        width: .75rem;
        background: theme.$ui5;
        border-radius: theme.$border-rad;
        display: flex;
        justify-content: center;
        align-items: center;
        color: theme.$p5;
        opacity: 0;
        transition: opacity .35s;
        cursor: col-resize !important;
        position: absolute;
        left: 0;
        top: 50%;
        translate: 0 -50%;
        &:hover {
          opacity: .35;
        }
      }
    }
  }
  #TaskDisplayWrapper {
    // background: pink;
    // height: fit-content;
    box-sizing: border-box;
    height: calc(100dvh - 3rem - 42px) !important;
    flex: 1 1 35rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: max-content;
    min-width: 22.5rem;
    max-width: 100%;
    position: relative;
    /* position: fixed;
    top: 3rem;
    left: 50%;
    translate: calc(-50% + (4.5rem / 2)) 0; */
    &::-webkit-scrollbar {display: none;}
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.CategoryWrapper {
  height: fit-content;
  width: 100%;
  margin: .75rem 0;
  &:first-child {margin-top: 0 !important;}
  &:last-child {margin-bottom: 0 !important;}
  .Category {
    display: flex;
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
    justify-content: center;
    color: theme.$p3;
    .CategoryTrigger {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 0;
      border: 0;
      outline: 0;
      padding: 1rem;
      border-radius: theme.$border-rad;
      background: theme.$ui1;
      // box-sizing: border-box;
      border: theme.$outline;
      color: theme.$p3;
      font-family: inherit;
      font-size: 1.5rem;
      height: 3rem;
      line-height: 1.25rem;
      font-weight: 500;
      &:hover {background: theme.$ui4;}
      &:focus-visible {outline: 2px solid theme.$active;}
      &[data-panel-open] .Icon{transform: rotate(90deg);}
      .Icon {
        width: 1rem;
        height: 1rem;
        transition: transform 150ms ease-out;
      }
    }
    .CategoryPanel {
      display: flex;
      height: var(--collapsible-panel-height);
      // height: max-content;
      flex-direction: column;
      justify-content: end;
      //!fix: scroll fade ends (ts uncomprehesible to everyone but me 🙏🙏)
      /* mask-image: 
        linear-gradient(to bottom, 
          transparent 0%, 
          rgba(0, 0, 0, 1.0) 5%, 
          rgba(0, 0, 0, 1.0) 95%, 
          transparent 100%); */
      overflow: hidden;
      max-height: 30rem;
      font-size: 1rem;
      line-height: 1.25rem;
      transition: all 150ms ease-out;
      &[data-starting-style],
      &[data-ending-style] {
        height: 0;
      }
      .CategoryContents {
        &::-webkit-scrollbar {display: none;}
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        gap: 0.25rem;
        margin-top: 0.25rem;
        border-radius: theme.$border-rad;
        // background-color: theme.$ui1;
        cursor: text;
      }
    }
  }
}
.Task {
  background: theme.$ui1;
  box-sizing: border-box !important;
  border: theme.$outline;
  border-radius: calc((theme.$border-rad * 3) / 4);
  padding: 1rem;
  padding-left: 4.65rem !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  cursor: default;
  .dragControls {
    cursor: grab;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: .5rem;
    font-size: 1rem;
    color: theme.$p5;
    opacity: .35;
    &:active{
      cursor: grabbing;
    }
  }
  .TaskCheckmarkWrapper {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 1.65rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .75rem;
    .Checkmark {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      aspect-ratio: 1 / 1;
      align-items: center;
      justify-content: center;
      border-radius: calc((theme.$border-rad * 3) / 4);
      outline: 0;
      padding: 0;
      margin: 0;
      transition: background .15s, border .25s;
      border: 1px solid transparent;
      cursor: pointer;
      &[data-unchecked] {
        border: theme.$outline;
        background: transparent;
      }
      &[data-checked] {
        border-width: 0px;
        background: theme.$active;
      }
      .CheckmarkIndicator {
        display: flex;
        color: theme.$p3;
        &[data-unchecked] {display: none;}
        .CheckmarkIcon {
          width: .85rem;
          height: .85rem;
        }
      }
    }
  }
  .TaskDetailsWrapper {
    flex-grow: 1;
    padding: .25rem 0;
    .TaskTitle {
      font-size: 1.5rem;
      margin: .25rem 0;
      margin-top: 0;
      font-weight: 400;
      color: theme.$p3;
    }
    .TaskDesc {
      font-size: .925rem;
      margin: 0;
      font-weight: 300;
      color: theme.$p4;
    }
  }
  .TaskInfoWrapper {
    width: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .TaskOptionsWrapper {
      widows: 100%;
      height: 1.15rem;
      padding: .25rem 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      gap: 1px;
      .TaskOptIco {
        font-size: 1rem;
        height: 100%;
        aspect-ratio: 1 / 1;
        color: theme.$p4;
        display: flex;
        justify-content: center; 
        justify-content: center; 
        align-items: center;
        cursor: pointer;
        transition: .25s;
        &:hover {
          color: theme.$p1;
        }
      }
    }
  }
}
